html,body{
  height:100%;
}
ul li{list-style: none;}
ul{margin:0px;padding:0px;}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.clr{
  clear:both;
}
.margin{
  margin:30px 0px;
}
.background-black{
  background-color: #000;
}
.index-background-1, .index-background-2, .contact-background-1, .about-background-1{
  width:100%;
  height: 100%;
  position: relative;
}
.people{
  padding:140px 0px !important;
}
.index-background-1{
  background:url(../images/index-1.jpg) no-repeat center center fixed;
  background-size:cover;
  .img{
    position: absolute;
    left:50%;
    margin-left:-(50% / 2);
    top:50%;
    margin-top:-(25% / 2);
  }
}
.index-background-2{
  background:url(../images/index-2.jpg) no-repeat center center ;
  vertical-align: middle;
  line-height: 100%;
  background-size:cover;
  img{
    vertical-align: middle;
    // display: table-cell;
  }
  img.img-1{}
  img.img-2{margin:5% 0px;}
  img.img-3{}
}
.contact-background-1{
  background:url(../images/contact-1.png) no-repeat center center fixed;
  background-size:cover;
}
.about-background-1{
  background:url(../images/about-1.jpg) no-repeat center center fixed;
  background-size:cover;
  position: relative;
  img{
    position: absolute;
    left:50%;
    margin-left:-(100% / 2);
    top:50%;
    margin-top:-(50%/2);
    z-index: 10;
  }
}

.div_table{
  display: table;
}
.div_td_bottom{
  display: table-cell;
  vertical-align: bottom;
}

.nav-button{
  position: absolute;
  right: (1920 / 60)*0.1%;
  top: 5%;
  width: 60px;
  height: 60px;
  background:#FFF;
  z-index: 999;
  cursor: pointer;
  div{
    width:18px;
    height: 30px;
    position: absolute;
    top:50%;
    margin-top: -(30px / 2);
    left:50%;
    margin-left: -(18px / 2);
    -webkit-animation: spin 6s linear infinite;
    span{
      display: block;
      width:1px;
      height:30px;
      background:#000;
      float: left;
      margin-right:7px;
      &:last-child{
        margin-right:0px;
      }
    }
  }
  &:hover{
    -webkit-animation: BackgroundBlack 0.5s linear forwards;
    div span{
      background:#FFF;
    }
  }
}
.logo{
  width: 325px;
  height: 31px;
  position: absolute;
  top: 5%;
  z-index: 100;
  left: (1920 / 60)*0.1%;
}
.nav{
  overflow: hidden;
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  z-index: 1000;
  top:0px;
  left:0px;
  background:#ff3c54;
  .nav-logo{
    width:325px;
    margin: 60px auto;
    display: block;
  }
  .close{
    position: absolute;
    right: (1920 / 60)*0.1%;
    top: 5%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background:url(../images/nav/close.png) center center no-repeat #fff;
  }
  ul {
    // width: 83%;
    height:90%;
    overflow: hidden;
    margin:0 auto;
    margin-top: 5%;
    li{
      cursor: pointer;
      float: left;
      height:100%;
      .border{
        display: block;
        height:70%;
        margin:0 auto;
        border:10px solid #FFF;
        margin-top:30px;
        position: relative;
      }
      .line{
        position: absolute;
        width: 82px;
        height: 80px;
        top: 50%;
        left: 50%;
        margin-top: -(82px / 2);
        margin-left: -(80px / 2);
      }
      .title-en{
        margin-top:35px;
      }
      .title-zn{
        position: absolute;
        bottom: 65px;
        left:50%;
        margin-left: -(144px/2);
      }
      &:hover{
        .border{
          -webkit-animation: BorderBlack 0.5s linear forwards;
        }
        .line{
          -webkit-animation: NavLine 0.5s linear;
        }
      }
    }
  }
}
.color-gray{
  color: #707070;
}
.color-white{
  color:#FFF;
}
.about{
  .container{
    width:90%;
    max-width: 1176px;
  }
  span.font-zh, span.font-en{
    display: block;
    padding-top:20px;
  }
  span.font-zh{
    font-size:16px;
    line-height: 33px;
  }
  span.font-en{
    font-size: 11px;
    line-height: 24px;
  }
}
.index-about{
  font-family:"yahei";
  overflow: hidden;
  h4{
    font-size: 36px;
    font-weight: normal;
    color:#da3c4f;
  }
  span{
    line-height: 30px;
    margin-top: -15px;
    margin-bottom: 25px;
    display: block;
    font-size: 15px;
  }
}
.index-content{
  img{
    margin:42px 0px;
  }
}
.dot{
  background-image: url(../images/dot.png);
}
.logo-black{
  -webkit-filter: invert(1);
}
.footer{
  padding:60px 0px;
  color:#FFF;
  background:url(../images/footer.png);
  font-size: 15px;
  text-align: center;
  span{
    font-size:12px;
  }
  h4{
    font-size:32px;
    padding:0px;
    margin:0px;
  }
  .address{
    text-align: left;
  }
}

.revealOnScroll{
  opacity: 0;
}
.show{
  opacity: 1;
}
.overHidden{
  overflow: hidden;
}
.contact_03{
  margin:70px 0px;
}
.contact-left .text-right{
  img{
    margin-right: 20px;
  }
}
.contact-right{
  font: 14px/28px Microsoft Yahei;
  h3{
    font-size: 40px;
    font-weight: bold;
    padding-top:0px;
    margin-top:0px;
  }
}
.work_case_title{
  width:100%;
  background:#000;
  margin-top: 113px;
  padding:40px 0px;
  text-align: center;
}
.work_case_class{
  line-height: 180px;
  background:#2d2d2d;
  color:#6c6c6c;
  font-size: 22px;
  border-right:1px solid #373737;
  &:last-child{
    border-right:none;
  }
  &:hover{
    -webkit-animation: BorderBlack 0.5s linear forwards;
  }
}
.img-responsive{
  width:100%;
}
.work_case_img img{
   -webkit-filter:grayscale(1);
           filter:grayscale(1);
  &:hover{
    -webkit-animation: WorkCase 1s linear forwards;
  }
}

.ceo-img{
  img{
  max-width: 590px;
  width:100%;
  }
}
.ceo-info{
  padding-top:160px;
}
